In [1]:
from motif_finder import find_motif_in_sequence_list

In [2]:
accessions = ["NM_000546", "NM_007294", "NM_005228", "NM_002467", "NM_002046"]
motif = "TATAAA"

In [3]:
find_motif_in_sequence_list(motif, accessions, save=True)

,count_forward,positions_forward,count_reverse_complement,positions_reverse_complement,length,density_forward,density_reverse_complement
NM_000546,0,[],2,"[35, 48]",2512,0.000000,0.000796
NM_007294,2,"[3392, 6795]",1,[131],7088,0.000282,0.000141
NM_005228,3,"[8215, 8548, 9012]",7,"[115, 124, 213, 1382, 1419, 1614, 3765]",9905,0.000303,0.000707
NM_002467,1,[2089],1,[1684],3721,0.000269,0.000269
NM_002046,0,[],0,[],1285,0.000000,0.000000